<!DOCTYPE html>
<html>
  <head>
    <title>ScaffoldApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
  <% if model_signed_in? %>
  <%= link_to "sign out", destroy_model_session_path, method: :delete%>
  <%end%>
    <%= yield %>
  </body>
</html>
